@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
	--color-white: #ffffff;
	--color-gray: #e5e5e5;
	--color-amber: #fca311;
	--color-navyblue: #14213d;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.7;
	color: var(--color-white);
	margin: 0;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.86'%3E%3Cpolygon fill='%2304070c' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23080d18' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%230c1425' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23101a31' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2314213D' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	font-weight: 400;
	line-height: 1.2;
}

p {
	font-size: 1.125rem;
}

h1,
p {
	margin-top: 0;
	margin-bottom: 0.75rem;
}

label {
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	margin-bottom: 0.25rem;
}

input,
button,
textarea,
select {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button {
	border: none;
}

.container {
	margin: 3.125rem auto 0 auto;
	width: 100%;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

.header {
	padding: 0 0.625rem;
	margin-bottom: 1.875rem;
}

.description {
	font-style: italic;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
	margin-left: 0.25rem;
	font-size: 0.9rem;
	color: var(--color-gray);
}

.text-center {
	text-align: center;
}

form {
	background: var(--color-navyblue);
	padding: 2.5rem 0.625rem;
	border-radius: 10px;
}

@media (min-width: 480px) {
	form {
		padding: 2.5rem;
	}
}

.form-control {
	display: block;
	width: 100%;
	height: 2.375rem;
	padding: 0.375rem 0.75rem;
	color: #495057;
	background-color: var(--color-gray);
	background-clip: padding-box;
	border: 0.5px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(128, 189, 255, 1);
}
.examples {
	padding-left: 5px;
}

.form-group {
	margin: 0 auto 1.25rem 0;
	padding: 0.25rem;
}

.input-radio,
.input-checkbox {
	display: inline-block;
	margin-right: 0.325rem;
	min-height: 1.25rem;
	min-width: 1.25rem;
}

.input-textarea {
	min-height: 120px;
	width: 100%;
	padding: 0.625rem;
	resize: vertical;
}

.submit-button {
	display: block;
	width: 100%;
	padding: 0.75rem;
	background: var(--color-amber);
	color: inherit;
	border-radius: 5px;
	cursor: pointer;
}
